<nav class="navbar  navbar-expand-sm navbar-dark custom">
    <a class="navbar-brand" href="#"><img src="images/java_js.png" class="logo-navbar"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="{{classHome}}">
                <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li ng-if="logado == false" class="{{classCadastro}}">
                <a class="nav-link" href="#cadastro">Cadastro</a>
            </li>
            <li ng-if="logado == false" class="{{classLogin}}">
                <a class="nav-link" href="#login">Login</a>
            </li>
            <li ng-if="logado == true" class="{{classContatos}}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contatos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item submenu" href="#novoContato">Novo Contato</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item submenu" href="#visualizarContatos">Visualizar Contatos</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li ng-if="logado == true" class="{{classDados}}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{loginLogado}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item submenu" href="#dados">Dados</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item submenu" ng-click="logout(loginLogado)" href="">Sair</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="{{alertClass}}" role="alert">
    {{mensagem}}
</div>