<div id="content">

    <fieldset class="form-group fieldset">

        <legend class="scheduler-border legend">
            <h6>Página de cadastro de usuários</h6>
        </legend>
        <form name="formCadUser" novalidate method="post" ng-class="{'form-error':submitted}" ng-submit="saveUser(formCadUser)">

            <div class="form-group row">
                <label class="col-sm-2 control-label" style="text-align: right;">Nome:</label>
                <div class="col-sm-5">
                    <input type="text" name="nome" required ng-model="usuario.nome" ng-change="resetServerValidation(formCadUser,'nome')" class="form-control" placeholder="Insira o seu nome completo." ng-minlength="4" ng-maxlength="30" />
                </div>
                <div class="col-sm-4">
                    <div ng-messages="formCadUser.nome.$error" ng-show="submitted && formCadUser.nome.$invalid" class="error-messages" role="alert" ng-if="formCadUser.nome.$dirty">
                        <div ng-message="required">Preenchimento obrigatório.</div>
                        <div ng-message="minlength">No mínimo 4 caracteres.</div>
                        <div ng-message="maxlength">No máximo 30 caracteres.</div>
                        <div ng-message="errorServer">{{errorMessage.nome}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" style="text-align: right;">E-mail:</label>
                <div class="col-sm-5">
                    <input type="email" name="email" required ng-model="usuario.email" ng-change="resetServerValidation(formCadUser,'email')" class="form-control" placeholder="Insira o seu e-mail." />
                </div>
                <div class="col-sm-4">
                    <div ng-messages="formCadUser.email.$error" ng-show="submitted && formCadUser.email.$invalid" class="error-messages" role="alert" ng-if="formCadUser.email.$dirty">
                        <div ng-message="required">Preenchimento obrigatório.</div>
                        <div ng-message="email">Insira um e-mail válido.</div>
                        <div ng-message="errorServer">{{errorMessage.email}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" style="text-align: right;">Login:</label>
                <div class="col-sm-5">
                    <input type="text" name="login" required ng-model="usuario.login" ng-change="resetServerValidation(formCadUser,'login')" class="form-control" placeholder="Insira o seu login entre 4 e 12 caracteres." ng-minlength="4" ng-maxlength="12" />
                </div>
                <div class="col-sm-4">
                    <div ng-messages="formCadUser.login.$error" ng-show="submitted && formCadUser.login.$invalid" class="error-messages" role="alert" ng-if="formCadUser.login.$dirty">
                        <div ng-message="required">Preenchimento obrigatório.</div>
                        <div ng-message="minlength">No mínimo 4 caracteres.</div>
                        <div ng-message="maxlength">No máximo 12 caracteres.</div>
                        <div ng-message="errorServer">{{errorMessage.login}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" style="text-align: right;">Senha:</label>
                <div class="col-sm-5">
                    <input type="password" name="senha" required ng-model="usuario.senha" ng-change="resetServerValidation(formCadUser,'senha')" class="form-control" placeholder="Insira sua senha entre 4 e 10 caracteres." ng-minlength="4" ng-maxlength="10" />
                </div>
                <div class="col-sm-4">
                    <div ng-messages="formCadUser.senha.$error" ng-show="submitted && formCadUser.senha.$invalid" class="error-messages" role="alert" ng-if="formCadUser.senha.$dirty">
                        <div ng-message="required">Preenchimento obrigatório.</div>
                        <div ng-message="minlength">No mínimo 4 caracteres.</div>
                        <div ng-message="maxlength">No máximo 10 caracteres.</div>
                        <div ng-message="errorServer">{{errorMessage.senha}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" style="text-align: right;"></label>
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-default" id="submit" ng-submit="saveUser(forCadUser)">Cadastrar</button>
                </div>
            </div>

        </form>

    </fieldset>
</div>