<div id="content">

    <fieldset class="form-group fieldset">

        <legend class="scheduler-border legend">
            <h6>Página de atualização de dados do contato</h6>
        </legend>
        <form name="formEditContato" novalidate method="post" ng-class="{'form-error':submitted}" ng-submit="updateContato(formEditContato)">

            <div class="form-group row">
                <label class="col-sm-2 control-label" style="text-align: right;">Nome:</label>
                <div class="col-sm-5">
                    <input type="text" name="nome" required ng-model="contato.nome" ng-change="resetServerValidation(formEditContato,'nome')" class="form-control" placeholder="Insira um nome entre 4 e 40 caracteres." ng-minlength="4" ng-maxlength="40" />
                </div>
                <div class="col-sm-4">
                    <div ng-messages="formEditContato.nome.$error" ng-show="submitted && formEditContato.nome.$invalid" class="error-messages" role="alert" ng-if="formEditContato.nome.$dirty">
                        <div ng-message="required">Preenchimento obrigatório.</div>
                        <div ng-message="minlength">No mínimo 4 caracteres.</div>
                        <div ng-message="maxlength">No máximo 40 caracteres.</div>
                        <div ng-message="errorServer">{{errorMessage.nome}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" style="text-align: right;">E-mail:</label>
                <div class="col-sm-5">
                    <input type="email" name="email" ng-model="contato.email" ng-change="resetServerValidation(formEditContato,'email')" class="form-control" placeholder="Insira um e-mail válido." />
                </div>
                <div class="col-sm-4">
                    <div ng-messages="formEditContato.email.$error" ng-show="submitted && formEditContato.email.$invalid" class="error-messages" role="alert" ng-if="formEditContato.email.$dirty">
                        <div ng-message="email">Insira um e-mail válido.</div>
                        <div ng-message="errorServer">{{errorMessage.email}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" style="text-align: right;">Telefone:</label>
                <div class="col-sm-5">
                    <input type="text" mask="(99) 9?9999-9999" name="telefone" ng-model="contato.telefone" ng-change="resetServerValidation(formEditContato,'telefone')" class="form-control" placeholder="Insira um telefone válido." required ng-pattern="regexTelefone" />
                </div>
                <div class="col-sm-4">
                    <div ng-messages="formEditContato.telefone.$error" ng-show="submitted && formEditContato.telefone.$invalid" class="error-messages" role="alert" ng-if="formEditContato.telefone.$dirty">
                        <div ng-message="required">Preenchimento obrigatório.</div>
                        <div ng-message="pattern">Insira um telefone válido.</div>
                        <div ng-message="errorServer">{{errorMessage.telefone}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" style="text-align: right;">Endereço:</label>
                <div class="col-sm-5">
                    <input type="text" name="endereco" ng-model="contato.endereco" ng-change="resetServerValidation(formEditContato,'endereco')" class="form-control" placeholder="Insira o endereço com no máximo 60 caracteres." ng-maxlength="60" />
                </div>
                <div class="col-sm-4">
                    <div ng-messages="formEditContato.endereco.$error" ng-show="submitted && formEditContato.endereco.$invalid" class="error-messages" role="alert" ng-if="formEditContato.endereco.$dirty">
                        <div ng-message="maxlength">No máximo 60 caracteres.</div>
                        <div ng-message="errorServer">{{errorMessage.endereco}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" style="text-align: right;">Observação:</label>
                <div class="col-sm-5">
                    <textarea class="form-control" rows="3" name="observacao" ng-model="contato.observacao" ng-change="resetServerValidation(formEditContato,'observacao')" placeholder="Insira a observacao com no máximo 200 caracteres." ng-maxlength="200"></textarea>
                </div>
                <div class="col-sm-4">
                    <div ng-messages="formEditContato.observacao.$error" ng-show="submitted && formEditContato.observacao.$invalid" class="error-messages" role="alert" ng-if="formEditContato.observacao.$dirty">
                        <div ng-message="maxlength">No máximo 200 caracteres.</div>
                        <div ng-message="errorServer">{{errorMessage.observacao}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" style="text-align: right;"></label>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-light" id="submit" ng-click="backToPreviousPage()">Voltar</button>
                </div>
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-3" style="text-align: left;">
                    <button type="submit" class="btn btn-default" id="submit" ng-submit="updateContato(formEditContato)">Atualizar</button>
                </div>
            </div>

        </form>

    </fieldset>
</div>