@CHARSET "UTF-8";

.navbar-default {
  background-color: #438e4f;
  border-color: #365233;
}
.navbar-default .navbar-brand {
  color: #fbfbfb;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #cabb6d;
}
.navbar-default .navbar-text {
  color: #fbfbfb;
}
.navbar-default .navbar-nav > li > a {
  color: #fbfbfb;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #cabb6d;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #438e4f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #fbfbfb;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #cabb6d;
  background-color: #365233;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #365233;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #cabb6d;
  background-color: #365233;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #cabb6d;
  background-color: #365233;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #cabb6d;
  background-color: #365233;
}
.navbar-default .navbar-toggle {
  border-color: #365233;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #365233;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fbfbfb;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fbfbfb;
}
.navbar-default .navbar-link {
  color: #fbfbfb;
}
.navbar-default .navbar-link:hover {
  color: #cabb6d;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fbfbfb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #cabb6d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #cabb6d;
    background-color: #365233;
  }
}

.container {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	
}

legend.scheduler-border {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 14px;
}