.container {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
    /* IE6-9 */
}

legend.scheduler-border {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 14px;
}

button.btn-default {
    background-color: #438e4f;
    border-color: #365233;
    color: white;
}

button.btn-default:hover {
    background-color: #365233;
    border-color: #365233;
    color: #cabb6d;
}

button.btn-default:focus {
    background-color: #438e4f;
    border-color: #365233;
    color: white;
}

div.error-messages {
    color: #B22222;
    background-color: #FFDAB9;
    border: 1px solid #B22222;
    border-radius: 3px;
}

.form-error .ng-invalid {
    border: 1px solid #B22222;
}

.active {
    color: #cabb6d !important;
    background-color: #365233;
}

.custom {
    background-color: #438e4f;
    padding-bottom: 0px;
    padding-top: 0px;
}

.custom .navbar-nav .nav-link {
    padding: .95rem 1rem;
}

.custom .nav-item.active .nav-link,
.custom .nav-item:hover .nav-link {
    color: #cabb6d;
    background-color: #365233;
}

.submenu {
    color: #438e4f;
}

.submenu:hover {
    color: #cabb6d !important;
    background-color: #365233;
}